<span class="w-10 h-10 flex items-center justify-center [&>svg]:w-full [&>svg]:h-full [&>svg]:fill-current">
  {% if cart == empty %}
    {{ 'icon-cart-empty.svg' | inline_asset_content }}
  {% else %}
    {{ 'icon-cart.svg' | inline_asset_content }}
  {% endif %}
</span>
<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <span class="absolute top-[4px] right-[4px] min-w-[1.6rem] h-[1.6rem] px-1 bg-accent text-surface text-[0.9rem] font-black leading-[1.6rem] text-center rounded-full">{{ cart.item_count }}</span>
{%- endif -%}
